# Yeni ve Gerekli LangChain Parcalari
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
# Diger bagimliliklar
chromadb
tiktoken
sentence-transformers
datasets
pandas
python-dotenv
streamlit
