# Core RAG ve Data
google-genai
faiss-cpu
tiktoken
datasets
pandas
python-dotenv

# Web Arayuzu
streamlit

# Diger bagimliliklar (Embedding modelinin bagimliliklari olabilir)
sentence-transformers (Cok gerekli degil ama yerel embedding kullanacaksak dursun)
